h1, h2 {
	font-variant: small-caps;
    margin: 10px;
}
h1 {
    border-bottom: 1px solid blue;
    width: 80%;
}

div.fénykép img{
    margin: 10px;
    border: 1px solid blue;
    float: right;
    width: 150px;
}

table {
    margin: 0px auto;
    padding: 10px;
    width:80%;
    border: 1px solid blue;
}

tr:nth-child(even) {
    background-color: cornflowerblue;
}

td:last-child {
    text-align: right;
}
body{
    color:navy;
    font-family: 'Verdana','Arial';
}
#tartalom{
    width: 960px;
    height: 100vh;
    border-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: skyblue;
    border-left: 15px blue double;
}
p{
    text-align: justify;
    padding: 10px;
}
a{
    text-decoration: none;
    color:white;
}