/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021.09.10., 22:48:35
    Author     : bernie
*/

#keret {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px) {
    #keret{
        width: 100%;
    }
}